{% extends "base.html" %}

{% block title %}
  <title>Assessment Creation</title>
{% endblock %}

{% block head_content %}

    <style>
      body {
  background: #b8e2f2;
  background: #ffffff;
  font-family: "KoHo", Arial, sans-serif;
  overflow-x: hidden;
  padding: 20px;
}


.peer-vue-logo {
  position: relative;
}

.rectangle-1 {
  background: #1b0061;
  border-radius: 50px;
  width: 221px;
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.logout-btn {
  position: relative;
  top: -2px;
  right: -200px;
}

a.logout-btn {
  background: var(--accent-dark-blue);
  border-radius: 50px;
  width: 111px;
  height: 57px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
}

.assessment-builder,
.assessment-builder * {
  box-sizing: border-box;
  position: absolute;
  top: 130px;
  right: 30px;
}

.assessment-builder {
  color: #000000;
  text-align: center;
  font-family: "KoHo-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: relative;
  width: 317px;
  height: 23px;
}

.release-date,
.release-date * {
  box-sizing: border-box;
  position: relative;
  top: 130px;
  right: -440px;
}
.release-date {
  color: #000000;
  text-align: center;
  font-family: "KoHo-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: relative;
  width: 231px;
  height: 54px;
}

.due-date,
.due-date * {
  box-sizing: border-box;
  position: relative;
  top: 75px;
  right: -840px;
}
.due-date {
  color: #000000;
  text-align: center;
  font-family: "KoHo-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: relative;
  width: 209px;
  height: 45px;
}

.courses {
  color: #000000;
  text-align: center;
  font-family: "KoHo-Medium", sans-serif;
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  left: 25px;
  top: 13px;
  width: 523px;
  height: 35px;
}

.rectangle {
  background: #aae7f2;
  border-radius: 50px;
  width: 1200px;
  height: 100px;
  /* position: absolute; */
  /* left: 100px; */
  /* top: 250px; */
}


.question {
  color: #000000;
  text-align: center;
  font-family: "KoHo-Medium", sans-serif;
  font-size: 26px;
  font-weight: 500;
  /* position: absolute; */
  /* left: 51px; */
  /* top: 28.01px; */
}

.edit-frame {
  background: #dcf4f9;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 35px;
  /* position: absolute; */
  /* left: 859px; */
  /* top: 35px; */
}
.remove-frame {
  background: var(--color, #dcf4f9);
  border-radius: 50px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 86px;
  height: 33px;
  /* position: absolute; */
  /* left: 959px; */
  /* top: 36px; */
}

.publish-btn,
.publish-btn * {
  box-sizing: border-box;
}
.publish-btn {
  position: relative;
  right: 250px;
  top: 570px;
  
}
.btn {
  background: var(--accent-1, #1b0061);
  border-radius: 50px;
  width: 147px;
  height: 46px;
  position: absolute;
  right: 0px;
  top: 0px;
}
.publish {
  color: #fffcfc;
  text-align: center;
  font-family: "KoHo-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  right: 18px;
  top: 0px;
}

.submission-btn,
.submission-btn* {
  box-sizing: border-box;
}
.submission-btn{
  position: relative;
  left: 750px;
  top: 570px;

}
.btn2 {
  background: var(--backgroud, #aae7f2);
  border-radius: 20px;
  width: 200px;
  height: 51px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.view-submissions {
  color: #000000;
  text-align: center;
  font-family: "KoHo-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 10px;
  top: 11px;
  width: 184px;
  height: 35px;
}

.reminder-btn,
.reminder-btn* {
  box-sizing: border-box;
}
.reminder-btn{
  position: relative;
  left: 450px;
  top: 570px;

}
.btn3 {
  background: var(--backgroud, #aae7f2);
  border-radius: 20px;
  width: 200px;
  height: 51px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.view-reminder {
  color: #000000;
  text-align: center;
  font-family: "KoHo-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 10px;
  top: 11px;
  width: 184px;
  height: 35px;
}

.anonymous-btn,
.anonymous-btn* {
  box-sizing: border-box;
}
.anonymous-btn{
  position: relative;
  left: 150px;
  top: 570px;

}
.btn4 {
  background: var(--backgroud, #aae7f2);
  border-radius: 20px;
  width: 200px;
  height: 51px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.view-anon{
  color: #000000;
  text-align: center;
  font-family: "KoHo-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 10px;
  top: 11px;
  width: 184px;
  height: 35px;
}

.add-btn,
.add-btn* {
  box-sizing: border-box;
}
.add-btn{
  position: relative;
  left: 1200px;
  top: 570px;

}
.btn5 {
  background: var(--backgroud, #aae7f2);
  border-radius: 20px;
  width: 200px;
  height: 51px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.view-add{
  color: #000000;
  text-align: center;
  font-family: "KoHo-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 10px;
  top: 11px;
  width: 184px;
  height: 35px;
}
    </style>
{% endblock %}

{% block content %}

  <div class="navbar">
    <div class="peer-vue-logo">
      <div class="rectangle-1">
        <div class="peer-vue">PeerVue</div>
      </div>
    </div>

    <div class="nav-buttons">
      <div class="nav-btn">Courses</div>
      <a href="{% url 'landing:student_assessment_list' %}">
        <div class="nav-btn">Assessments</div>
      </a>
      <div class="nav-btn">Feedback</div>
      <div class="logout-btn">
        <a class="logout-btn" href="{% url 'oauth:logout' %}">Logout</a>
      </div>
    </div>
    <!--<div class="the-git-commits">The Git Commits</div>-->
  </div>

  <div class="assessment-builder">Assessment Builder</div>
  <div class="release-date">Release Date:</div>
  {% if assessment.due_date %}
    <div class="due-date">Due: {{ due_date|date:"DATETIME_FORMAT" }}</div>
  {% else %}
    <div class="due-date">Due: ---</div>
  {% endif %}

  {% for question in assessment.get_questions %}
  <div class="rectangle">
    <div class="question">{{ question.question }}</div>
    <div class="edit-frame" data-bs-toggle="modal" data-bs-target="#edit-question-modal-id-{{ question.pk }}">
      <button class="edit" data-bs-toggle="modal" data-bs-target="#edit-question-modal-id-{{ question.pk }}">Edit</button>
    </div>
    <div class="remove-frame">
      <form method="post">
        {% csrf_token %}
        <button class="remove">Remove</button>
        <!-- not sure how to identify temporary questions -->
        <input type="hidden" name="remove" value="{{ question.pk }}">
      </form>
    </div>
  </div>
  {% endfor %}

  <div class="publish-btn">
    <div class="btn"></div>
    <div class="publish">Publish</div>
  </div>
  <div class="submission-btn">
    <div class="btn2"></div>
    <div class="view-submissions">View Submissions</div>
  </div>
  <div class="reminder-btn">
    <div class="btn3"></div>
    <div class="view-reminder">Reminders</div>
  </div>
  <div class="anonymous-btn">
    <button class="btn4"></button>
    <button class="view-anon">Anonymous</button>
  </div>
  <div class="add-btn">
    <div class="btn5"></div>
    <form method="post">
      {% csrf_token %}
      <button class="view-anon">Add</button>
      <input type="hidden" name="add" value="question">
    </form>
  </div>

   <!-- Modals -->
  {% for question in assessment.get_questions %}
    <div id="edit-question-modal-id-{{ question.pk }}" class="modal fade" tabindex="-1" aria-labelledby="add-team-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="modal-title">Edit Question</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form method="post">
            {% csrf_token %}
            <div class="modal-body">
              <input type="hidden" name="edit" value="{{ question.pk }}">
              <label for="question-edit-{{question.pk}}" class="form-label">Question:</label>
              <input type="text" name="question" id="question-edit{{question.pk}}" value="{{ question.question }}" class="form-control">
              <br>
              <input class="form-check-input" type="checkbox" name="required" {% if question.required %}checked{% endif %}>
              <label class="form-check-label" for="required">Required</label>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  {% endfor %}

  {% endblock %}
