{% extends "base.html" %}

{% block title %}
  <title>Assessment Creation</title>
{% endblock %}

{% block head_content %}
    <style>
      a,
      button,
      input,
      select,
      h1,
      h2,
      h3,
      h4,
      h5,
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: none;
        text-decoration: none;
        background: none;
        -webkit-font-smoothing: antialiased;
      }
      
      menu, ol, ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      
      body {
        font-family: "KoHo", Arial, sans-serif;
        margin: 0;
        padding: 0;
        background: #F0F8FF;
      }

      /* Assessment Creation specific styles */
      .assessment-container {
        max-width: 1000px;
        margin: 170px auto 50px;
        padding: 0 20px;
      }
      
      .assessment-builder {
        margin-bottom: 30px;
        font-family: "KoHo", sans-serif;
        font-size: 24px;
        font-weight: 500;
        color: #1b0061;
      }

      .question-container {
        min-height: 10rem;
      }

      .question-outer {
        background: #aae7f2;
        border-radius: 50px;
        width: 50%;
        margin: 1rem 0;
        padding: 1rem;
      }

      .question {
        color: #000000;
        text-align: center;
        font-family: "KoHo-Medium", sans-serif;
        font-size: 26px;
        font-weight: 500;
      }

      .edit-frame {
        background: #dcf4f9;
        border-radius: 20px;
        padding: 10px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }

      .remove-frame {
        background: #dcf4f9;
        border-radius: 20px;
        padding: 10px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: center;
      }

      .outer-dark-btn {
        background: #1b0061;
        border-radius: 50px;
        padding: 10px 20px;
      }

      .publish-text {
        color: #ffffff;
        text-align: center;
        font-family: "KoHo-Regular", sans-serif;
        font-size: 22px;
        font-weight: 400;
        background: #1b0061;
        border-radius: 50px;
      }

      /* .outer-mid-btn { */
      /*   background: #aae7f2; */
      /*   border-radius: 50px; */
      /*   padding: 10px 20px; */
      /* } */

      .mid-btn-text {
        color: #000000;
        text-align: center;
        background: #aae7f2;
        border-radius: 50px;
        font-family: "KoHo-Medium", sans-serif;
        font-size: 20px;
        font-weight: 500;
      }

      .inline {
        display: inline-block;
      }

      .edit-assessment-button {
        vertical-align: top;
      }

    </style>
{% endblock %}

{% block content %}
  <div class="assessment-container">

    <div class="assessment-title container">
      <div class="">
        <div class="assessment-builder inline">{{ assessment.title }}</div>
        {% if assessment.due_date %}
          <div class="due-date inline">(Due: {{ assessment.due_date|date:"DATETIME_FORMAT" }})</div>
        {% else %}
          <div class="due-date inline">(No due date)</div>
        {% endif %}
        <button class="edit-assessment-button inline" data-bs-toggle="modal" data-bs-target="#edit-assessment-modal">edit</button>
      </div>
    </div>

    <!-- Questions -->
    <div class="question-container">
      <div class="question-outer m-4">
        <div class="question m-2">Who are you evaluating?</div>
        <div class="container row">
        </div>
      </div>
      {% for question in assessment.get_questions %}
        <div class="question-outer m-4">
          <div class="question m-2">{{ question.question }}</div>
          <div class="container row">
            <button class="edit-frame col m-2 ms-4 py-2" data-bs-toggle="modal" data-bs-target="#edit-question-modal-id-{{ question.pk }}">
              <div class="edit" data-bs-toggle="modal" data-bs-target="#edit-question-modal-id-{{ question.pk }}">Edit</div>
            </button>
            <form method="post" class="remove-frame col m-2 p-2">
              <button class="col">
                {% csrf_token %}
                <input type="hidden" name="course_id" value="{{ course.id }}">
                <div class="remove">Remove</div>
                <input type="hidden" name="remove" value="{{ question.pk }}">
              </button>
            </form>
          </div>
        </div>
      {% endfor %}
    </div>

    <!-- Control Buttons -->
    <div class="d-inline-flex">
      <div class="m-4">
        <form method="post">
          {% csrf_token %}
          <input type="hidden" name="course_id" value="{{ course.id }}">
          <button class="py-3 px-4 publish-text">Publish</button>
          <input type="hidden" name="publish" value="question">
        </form>
      </div>

      <div class="m-4">
        <form method="post">
          {% csrf_token %}
          <input type="hidden" name="course_id" value="{{ course.id }}">
          <button class="py-3 px-4 mid-btn-text">Add Question</button>
          <input type="hidden" name="add" value="question">
        </form>
      </div>
    </div>

    <!-- Edit Assessment Modal -->
    <div id="edit-assessment-modal" class="modal fade" tabindex="-1" aria-labelledby="edit-assessment-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="modal-title">Edit Question</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form method="post">
            {% csrf_token %}
            <input type="hidden" name="course_id" value="{{ course.id }}">
            <div class="modal-body">
              <input type="hidden" name="edit_assessment" value="{{ assessment.title }}">
              <label for="assessment_title_edit" class="form-label">Title:</label>
              <input type="text" name="assessment_title_edit" id="assessment_title_edit" value="{{ assessment.title }}" class="form-control">
              <br>
              <label for="due_date" class="form-label">Title:</label>
              <input type="datetime-local" name="due_date" id="due_date" value="{{ assessment.due_date|date:'Y-m-d\TH:i' }}" class="form-control">
              <br>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="allow_self_assessment" id="allow_self_assessment" {% if assessment.allow_self_assessment %}checked{% endif %}>
                <label class="form-check-label" for="allow_self_assessment">Allow students to perform self-assessment</label>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button><br>
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Edit Question Modals -->
    {% for question in assessment.get_questions %}
      <div id="edit-question-modal-id-{{ question.pk }}" class="modal fade" tabindex="-1" aria-labelledby="edit-question-modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="modal-title">Edit Question</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post">
              {% csrf_token %}
              <input type="hidden" name="course_id" value="{{ course.id }}">
              <div class="modal-body">
                <input type="hidden" name="edit" value="{{ question.pk }}">
                <label for="question-edit-{{question.pk}}" class="form-label">Question:</label>
                <input type="text" name="question" id="question-edit{{question.pk}}" value="{{ question.question }}" class="form-control">
                <br>
                <select class="form-select" name="question_type" aria-label="Question Type">
                  <option disabled value="">Question Type</option>
                  <option {% if question.question_type == "likert" %}selected{% endif %} value="likert">Likert Scale</option>
                  <option {% if question.question_type == "free" %}selected{% endif %} value="free">Free Response</option>
                </select>
                <br>
                <input class="form-check-input" type="checkbox" name="required" {% if question.required %}checked{% endif %}>
                <label class="form-check-label" for="required">Required</label>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button><br>
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}
